body {
    font-family: 'Dosis', sans-serif;
    background-color: #ebeced;
    height: 100%;
    overflow: hidden;
}

a, a:hover, a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    background-color: #edeef2;
    text-decoration: none;
    transition: all 0.3s;
}

/*sidebar*/
#sidebar {
    width: 250px;
    height: 100vh;
    background-color: blueviolet;
    color: white;
}

.sidebar-header {
    padding: 10px;
    align-self: start;
}

.active {
    margin-left: -250px;
}

.nav-item {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6% 10%;
    border-bottom: 1px solid lightgrey;
}

.nav-item a:hover {
    color: aquamarine;
}

.logo {
    background-color: white;
}

/*navbar*/
.navbar {
    background-color: #edeef2;
    padding: 0;
}

#toggle-sidebar {
    margin: 10px;
}

/*content*/
.content {
    padding: 0 10px 5px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scroll-behavior: unset;
}

.content-head {
    font-size: 1.8rem;
    margin-left: 25px;
}


#card-list {
    padding: 20px 0;
    overflow-y: auto;
    height: 95vh;
}

#card-info {
    border-radius: 20px;
    background-color: #ababab;
    height: 100%;
}

/*cards*/
.card {
    border-radius: 40px;
    margin: 30px 20px;
    box-shadow: 2px 2px 10px 5px rgba(138,43,226, 0.7);
}

.card-number {
    font-size: 0.9rem;
    border-radius: 10%;
    color: white;
    background-color: #18cc81;
    padding: 2px 10px;
    border: 2px solid #069441;
}

.date-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-date {
    font-size: 0.9rem;
    border-radius: 6%;
    color: white;
    background-color: #2ccddb;
    padding: 2px 10px;
    border: 2px solid #1bb4cc;
}

.card-title {
    margin: auto 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-field {
    font-weight: bold;
    font-size: 1.1rem;
}

.card-note {
    border-radius: 20px;
    padding: 15px;
    background-color: #dce6e8;
    width: 100%;
    margin: auto 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: center;
    grid-gap: 10px;
}

/*info-pane*/
.info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.enquiry-head {
    font-size: 1.2rem;
    color: white;
}

#close-info {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*table*/
.info-tab {
    padding: 8px;
    margin: 0;
}

.info-table {
    overflow-y: scroll;
    width: 100%;
    height: 350px;
}

.tab-pane {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*utilities*/
.sm-box-vr {
    height: 20px;
}

.md-box-vr {
    height: 40px;
}

.lg-box-vr {
    height: 60px;
}

.sm-box-hr {
    display: inline;
    width: 20px;
}

.md-box-hr {
    display: inline;
    width: 40px;
}

.lg-box-hr {
    display: inline;
    width: 60px;
}

